@media (max-width: 380px) {
  .preloader {
    text-align: center;
    &__title {
      font-size: 40px;
      line-height: normal;
      .letter-space {
        display: block;
      }
    }
    &__bg {
      width: 600px;
    }
    &__load {
      top: 40px;
      width: 900px;
    }
  }
  .hero__bg-anim {
    display: none;
  }
  .main-slider__dots {
    position: static;
    justify-content: center;
  }
  .hero {
    padding-bottom: 10px;
  }
  .logo {
    max-width: 140px;
  }
  .header__callback-mobile {
    margin-right: 10px;
  }
  .main-slider__active-picture {
    margin-left: auto;
    margin-right: auto;
  }
  .main-slider__title {
    font-size: 30px;
    line-height: 38px;
  }

  .s-category {
    padding: 20px;

    &__icon {
      max-width: 30px;
    }

    &__link {
      font-size: .9rem;
    }
  }

  .sub-category {
    padding-left: 0;
    list-style: none;

    &__item {
      margin-bottom: 8px;
      display: block;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      font-size: 1rem;
    }
  }
}