@media (max-width: 575.98px) {
  .preloader {
    &__title {
      .letter-space {
        display: block;
      }
    }
  }
  .content h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  .title-stroke {
    -webkit-text-stroke: 0px rgba(255, 255, 255, 1);
    -webkit-text-fill-color: inherit;
    @include whiteOpacity(.9)
  }
  .logo {
    max-width: 150px;
    display: block;

    & svg {
      max-width: 100%;
    }
  }

  .custom-inf .quick-contacts__link {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .02em;
  }

  .custom-inf .quick-contacts__link:first-child {
    font-size: 1.5rem;
    letter-spacing: .04em;
  }

  .main-slider {
    margin-bottom: 0;

    &__title {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: .05em;
      -webkit-text-stroke: 0px rgba(255, 255, 255, 1);
      -webkit-text-fill-color: inherit;
      margin-bottom: 20px;
      @include whiteOpacity(.9)
    }

    &__subtitle {
      margin-bottom: 20px;
      line-height: 22px;
      max-width: 280px;
    }

    &__item_slide_1 &__active-picture {
      max-width: 280px;
    }

    &__item_slide_2 &__active-picture {
      max-width: 260px;
    }

    &__dots {
      left: 40px;
    }

    &__active-picture {
      margin-top: 30px;
      opacity: .9;
    }
  }

  .blare-advantage {
    &__text {
      margin-bottom: 15px;
    }

    &:hover &__text {
      margin-bottom: 15px;
    }
  }
  .services__title {
    margin-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .list-services li a {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .feedback-us__title {
    margin-bottom: 25px;
  }

  .map-static {
    padding-bottom: 0;

    &__object {
      width: 1100px;
      height: auto;
      margin-left: auto;

      svg {
        height: 100%;
      }
    }

    &__title {
      margin-bottom: 20px;
    }
  }

  .footer {
    .logo {
      margin: 0 auto;
    }
  }
  .form-static-bg {
    padding: 35px 25px 35px 25px;
  }

  .glitch {
    font-size: 130px;
    margin-bottom: 0;
  }

  .not-found__subtitle {
    font-size: 2.5rem;
    line-height: normal;
  }

  .not-found__text {
    font-size: 1rem;
  }

  .content {
    margin-bottom: 20px;
    padding-top: 100px;
  }

  .form-static-standard {
    padding: 40px 0 0 0;

    &__title {
      font-size: 1.6rem;
    }

    &__group {
      max-width: 100%;
      padding-right: 0;
    }

    &__map {
      margin: 40px -15px 0;
    }

  }

  .map__yamap {
    height: 348px;
  }

  .s-category {
    padding: 30px;

    &_mini {
      padding: 15px 20px;
      .s-category__icon {
        max-width: 32px;
      }
    }

    &__icon {
      margin-right: 15px;
    }

    &__link {
      font-size: 1rem;
    }
  }

  .content__services {
    margin-top: 30px;

    &_cat {
      margin-bottom: 20px;
    }
  }

  .advantages-s {
    padding: 35px 0 15px;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 40px;
    }

    &__icon {
      margin-bottom: 10px;
    }

    &__item {
      margin-bottom: 30px;
    }
  }

  .advantage-s {
    &__icon {
      margin-bottom: 10px;
    }

    &_card {
      height: auto;
    }
  }

  .necessary-services {
    padding: 30px 0;
    background: $blue;

    &__info {
      padding-right: 0;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: .9rem;
    }
  }

  .plan {
    padding: 20px 0 10px;

    &__item {
      margin-bottom: 20px;
    }

    &-card {
      &__number {
        font-size: 3.5rem;
        line-height: normal;
      }
    }
  }

  .otb-card__title {
    font-size: 1.4rem;
  }

}