@media (max-width: 1199.98px) {
  .header {
    padding: 20px 0;
    &__search-form {
      transform: scale(.97);
    }
  }
  .navbar-main{
    &__link{
      padding: 10px 24px;
      font-size: 1.1rem;
    }
  }
  .quick-contacts__link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1rem;
    line-height: 1.6;
  }
  .btn-default {
    padding: 10px;
    & p {
      font-size: 1.1rem;
    }
  }
  .hero {
    &__bg-anim {
      bottom: 50px;
    }
  }
  .main-slider {
    margin-bottom: 0;
    &__group {
      padding-right: 415px;
    }
    &__title {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__item_slide_1 &__active-picture {
      max-width: 460px;
    }
    &__item_slide_2 &__active-picture {
      max-width: 440px;
    }
    &__item_slide_3 &__active-picture {
      max-width: 340px;
      right: 90px;
    }
    &__item_slide_4 &__active-picture {
      max-width: 350px;
      right: 70px;
    }
    &__item_slide_5 &__active-picture {
      max-width: 450px;
      right: 50px;
    }
    &__dots {
      bottom: 0;
    }
  }
  .main-dots {
    &__item {
      font-size: 30px;
      line-height: 34px;
    }
    .slick-active &__item {
      font-size: 34px;
    }
  }
  .advantages-anima {
    &__item {
      transition: .5s linear;
    }
    &__title {
      margin-bottom: 60px;
    }
  }

  .blare-advantage {
    &__front {
      height: 254px;
      padding: 35px 20px;
    }
    &__icon {
      height: 109px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 1.1rem;
      letter-spacing: 0.04em;
    }
    &__text {
      font-size: 1rem;
      padding: 35px 15px 15px;
      height: 177px;
      margin-bottom: -30%;
      transition: .3s linear;
    }
    &:hover &__text {
      margin-bottom: 0;
    }
  }
  .big-pattern {
    height: 100%;
    & svg {
      height: 100%;
    }
  }
  .inf-bg__fill {
    margin-right: 0;
  }
  .about-company {
    background: $blue;
    &__text {
      max-width: 100%;
      & > p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        opacity: .8;
      }
    }
  }
}