$font-family-sans-serif: 'Raleway', sans-serif;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$darkBlue: #01273A;
$deepDark: #04131F;
$blue: #013E61;
$accent: #196A7B;
$red: #DA0F00;

$body-bg: #01273A;
$body-color: #fff;

$primary: #24CBB7;
$secondary: #013E61;

$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;

$link-color: #fff;
$link-decoration: underline;
$link-hover-color: #24CBB7;
$link-hover-decoration: none;

$font-size-base: 1rem !default;
$line-height-base: 1.4;
$input-line-height: 1.4;
$line-height-lg: 1.362;
$line-height-sm: 1.362;

$border-width: 2px;
$border-color: $primary;
$border-color-secondary: $secondary;

$h1-font-size: 134px;
$h2-font-size: 106px;
$h3-font-size: 76px;
$h4-font-size: 54px;

$text-muted: #5C686F;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1560px,
);

$container-max-widths: (
        sm: 570px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1500px,
);

/*MIXINS*/

@mixin whiteOpacity($prop) {
  color: rgba($white, $prop);
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-sb-column {
  @include flex-sb;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin background-img-cover($url, $posX, $posY) {
  background: url($url) no-repeat $posX $posY;
  background-size: cover;
}

@mixin background-img-contain($url, $posX, $posY) {
  background: url($url) no-repeat $posX $posY;
  background-size: contain;
}

@mixin borderDefault($color) {
  border: 2px solid $color;
  border-radius: 10px;
}
