<section class="section about-company fp-auto-height-responsive">
  
  <div class="about-company__inf">
    <div class="about-company__bg inf-bg">
      <div class="row no-gutters">
        <div class="col-xl-7 col-xxl-6">
          <div class="inf-bg__fill"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-7 col-xxl-7">
          <h2 class="about-company__title title-stroke">О компании</h2>
          <div class="about-company__text">
            <p>ООО «МК Терминал-Сервис» занимается монтажом и демонтажом стеллажных систем складского хранения,
              сотрудничает с крупными поставщиками стеллажного оборудования Санкт-Петербурга и Москвы. За время успешной
              работы мы реализовали свыше 1500 проектов в разных регионах России. Имея многолетний опыт работы в этой
              сфере, мы умело справляемся с поставленными перед нами задачами. Экономьте свое время − доверьтесь
              профессионалам компании «МК Терминал-Сервис».</p>
          </div>
  
          <div class="about-company__button">
            {% include '../Common/Buttons/BtnLink.twig' %}
          </div>
        
        </div>
        <div class="col-xl-5">
          <div class="about-company__services">
            <div class="services">
              <div class="services__title">Наши услуги</div>
              {%  include "Partials/ServiceList.twig" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>