<section class="section advantages-anima fp-auto-height-responsive">
  
  <div class="advantages-anima__inf">
    <div class="container">
      <h2 class="advantages-anima__title title-stroke">Почему мы</h2>
      <div class="advantages-anima__group">
        {%  include "Partials/BlareAdvantage.twig" %}
      </div>
    </div>
  </div>
  
  {%  include "../Common/Patterns/BigPattern.twig" %}
</section>