<section class="section hero fp-auto-height-responsive">
  <div class="hero__main-slider">
    {%  include "Partials/MainSlider.twig" %}
  </div>
  <div class="hero__bg-anim">
    {%  include "../Common/Patterns/GitPattern.twig" %}
  </div>
  
</section>