<section class="section our-projects fp-auto-height-responsive">
  
  <div class="container">
    <h2 class="our-projects__title title-stroke">Наши работы</h2>
  
    <div class="our-projects__group">
      {%  include "Partials/Projects.twig" %}
    </div>
  </div>
</section>