@charset "UTF-8";

/*MIXINS*/

.section {
  padding-top: 150px;
  overflow: hidden;
  height: 100vh;
}

.title-stroke {
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8);
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.02em;
}

.pattern-full {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.header_responsive {
  top: 0;
  padding: 5px 0 !important;
  background: linear-gradient(180deg, #013e61 0%, rgba(1, 39, 58, 0.9) 100%);
}

.header__callback-mobile {
  display: none;
}

.header__quick-contacts {
  text-align: right;
}

.header__search {
  max-width: 21px;
  height: 32px;
  margin-left: 10px;
  flex: 1 0 auto;
}

.header__search-form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  width: 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #013e61;
}

.navbar-main__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-main__link {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  padding: 12px 20px;
  text-decoration: none;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar-main__link:hover,
.navbar-main__link:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  background: #013E61;
}

.navbar-main__item_active .navbar-main__link {
  color: #24CBB7;
}

.navbar-main__item_dropdown_open .navbar-main__link {
  background: #013E61;
}

.navbar-main__item {
  position: relative;
}

.navbar-main-level {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background: #013E61;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-main-level__group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-main-level__link {
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 30px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid transparent;
  background: transparent;
  transition: 0.2s ease-in-out;
  width: 104%;
  -webkit-transform: translateX(-2%);
          transform: translateX(-2%);
}

.navbar-main-level__link:hover {
  background: #013E61;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid #01273A;
}

.navbar-main-level__item_active .navbar-main-level__link {
  color: #24CBB7;
}

.mobile-menu {
  display: none;
}

.mobile-menu-btn {
  border: 2px solid #24CBB7;
  border-radius: 8px;
  background: transparent;
  position: relative;
  top: 0;
  display: none;
  width: 44px;
  height: 44px;
  margin-left: 0;
}

.mobile-menu-btn__span,
.mobile-menu-btn__span::before,
.mobile-menu-btn__span::after {
  width: 25px !important;
  display: block;
  position: absolute;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px !important;
  background: #24CBB7 !important;
  transition: all 0.2s ease;
  margin-left: 0;
}

.mobile-menu-btn__span {
  -webkit-transform: translate(-50%) !important;
          transform: translate(-50%) !important;
}

.mobile-menu-btn__span::before {
  top: -8px !important;
  margin-left: 0;
}

.mobile-menu-btn__span::after {
  bottom: -8px !important;
  margin-left: 0;
}

.mobile-menu-btn.toggle-open .mobile-menu-btn__span {
  -webkit-transform: translate(-50%) rotate(133deg) !important;
          transform: translate(-50%) rotate(133deg) !important;
}

.mobile-menu-btn.toggle-open .mobile-menu-btn__span::before {
  top: -10px !important;
  left: 0 !important;
  -webkit-transform: translate3d(0, 9px, 0);
          transform: translate3d(0, 9px, 0);
}

.mobile-menu-btn.toggle-open .mobile-menu-btn__span::after {
  top: 10px !important;
  left: 0 !important;
}

.hc-offcanvas-nav {
  font-family: "Raleway", sans-serif !important;
}

.hc-offcanvas-nav .nav-close .logo__img_mobile {
  width: 150px;
}

.hc-offcanvas-nav .nav-close-button span::before,
.hc-offcanvas-nav .nav-close-button span::after {
  width: 10px;
  height: 10px;
  margin-top: -8px;
}

.hc-offcanvas-nav .nav-close-button span::before {
  margin-left: -12px;
}

.hc-offcanvas-nav .nav-content > .nav-close:first-child a,
.hc-offcanvas-nav .nav-title + .nav-close a.has-label,
.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav .nav-back a {
  background: #01273A;
  border-top: 1px solid #01273A;
  border-bottom: 1px solid #01273A;
}

.hc-offcanvas-nav .mobile-menu__item .mobile-menu__link {
  color: #fff;
  font-weight: 400;
  padding: 17px 15px;
  font-size: 20px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  opacity: 0.9;
  border-bottom: 1px solid #01273A;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  width: 9px !important;
  height: 9px !important;
}

.hc-offcanvas-nav .nav-next span::before,
.hc-offcanvas-nav li.nav-back span::before {
  width: 10px;
  height: 10px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent .nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 66px !important;
  border-left: 1px solid #01273A;
}

.hc-offcanvas-nav .nav-content > h2 {
  font-size: 22px !important;
  padding: 15px 17px !important;
  color: #fff !important;
  background: #04131F !important;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: 0.06em;
}

.hc-offcanvas-nav li.nav-parent .nav-item:not(:last-child) {
  margin-right: 0px !important;
}

.hc-offcanvas-nav li.nav-close a {
  text-align: center;
  padding: 7px 17px;
  background: #fff !important;
  border-top: 1px solid transparent !important;
}

.hc-offcanvas-nav li.nav-back a {
  background: transparent !important;
  color: #000;
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-content {
  background: #013E61 !important;
}

.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: transparent !important;
}

.hc-offcanvas-nav .nav-item,
.hc-offcanvas-nav a {
  padding: 0;
  border-bottom: none;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #01273A !important;
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2b2b2b;
}

.hc-offcanvas-nav li.nav-back a:hover,
.hc-offcanvas-nav li.nav-close a:hover {
  background: none;
}

.hc-offcanvas-nav .nav-next span::before,
.hc-offcanvas-nav li.nav-back span::before {
  opacity: 0.9;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav .nav-close .nav-item-wrapper a::before {
  content: "\D7";
  color: #000;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -1px;
  position: absolute;
  z-index: 9999;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu__item_active a {
  background: #31679e !important;
}

.hc-offcanvas-nav:not(.touch-device) .quick-contacts__link:hover {
  background: none !important;
}

#fp-nav ul li {
  display: block;
  width: 20px;
  height: 20px;
  margin: 13px 7px;
  position: relative;
}

#fp-nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a span {
  position: absolute;
  z-index: 1;
  height: 18px;
  width: 18px;
  background: #013E61;
  border: 3px solid transparent;
  left: 0;
  top: 0;
  margin: -2px 0 0 -2px;
  transition: all 0.3s ease-in-out;
  border-radius: 0 50%;
}

#fp-nav ul li a span:hover {
  height: 18px;
  width: 18px;
  margin: -2px 0 0 -2px;
  background: #24CBB7;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 18px;
  width: 18px;
  margin: -2px 0 0 -2px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 0 50%;
}

#fp-nav ul li .fp-tooltip.left {
  left: 22px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.7);
}

#fp-nav ul li:hover a span {
  width: 18px;
  height: 18px;
  margin: -2px 0 0 -2px;
  background: #24CBB7;
}

.logo {
  text-decoration: none;
}

.form-default__group {
  position: relative;
  transition: 0.8s;
}

.form-default__input {
  font-weight: 600;
  font-size: 17px;
  height: 55px;
  text-decoration: none;
  padding: 15px 10px 15px 20px;
  margin-bottom: 30px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  color: #fff !important;
  width: 100%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.form-default__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.form-default__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-feature-settings: "pnum" on, "lnum" on;
}

.form-default__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-feature-settings: "pnum" on, "lnum" on;
}

.form-default__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-feature-settings: "pnum" on, "lnum" on;
}

.form-default__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.form-default__input:focus {
  background: transparent;
  box-shadow: none;
  border: 2px solid #24CBB7;
  border-radius: 10px;
}

.form-default__input:focus::-webkit-input-placeholder {
  color: #24CBB7;
}

.form-default__input:focus::-moz-placeholder {
  color: #24CBB7;
}

.form-default__input:focus:-ms-input-placeholder {
  color: #24CBB7;
}

.form-default__input:focus::-ms-input-placeholder {
  color: #24CBB7;
}

.form-default__input:focus::placeholder {
  color: #24CBB7;
}

.form-default__input.error_input {
  border: 1px solid #DA0F00;
}

.form-default__textarea {
  resize: none;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 10px 15px 20px;
  margin-bottom: 30px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: transparent;
  color: #fff;
  width: 100%;
  height: 300px;
}

.form-default__textarea.error_input {
  border: 1px solid #DA0F00;
}

.form-default__privacy {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.form-default__privacy a {
  color: rgba(255, 255, 255, 0.6);
}

.form-default__button {
  max-width: 270px;
  margin: 0 auto;
}

.error_message {
  background: none;
  box-shadow: none;
  opacity: 1;
  position: relative;
  text-align: center;
}

.callback-success {
  color: #007d34;
}

.callback-success__text {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.callback-success__text_big {
  font-size: 20px;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

.callback-success i {
  font-size: 50px;
}

.btn-default {
  position: relative;
  display: block;
  color: #24CBB7;
  border: 2px solid #24CBB7;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.btn-default:hover {
  text-decoration: none;
}

.btn-default:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.btn-default p {
  position: relative;
  z-index: 5;
  transition: color 0.6s;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

.btn-default:hover p {
  color: #01273A;
}

.btn-default span {
  border-radius: 100%;
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;
  background: #24CBB7;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width 0.6s, padding-top 0.6s;
}

.btn-default:hover span {
  width: 250%;
  padding-top: 250%;
}

.search-btn {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.search-btn:hover {
  opacity: 1;
}

.search-btn:focus {
  outline: 0;
}

.search-btn svg {
  max-width: 100%;
  max-height: 100%;
}

.close {
  background: none;
  border: 0;
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.close:hover {
  opacity: 1 !important;
}

.close:focus {
  outline: 0;
}

.close svg {
  max-width: 100%;
  max-height: 100%;
}

.custom-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.custom-list li::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 7px;
  display: inline-block;
}

.list-services {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.quick-contacts {
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quick-contacts__link {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease-in-out;
  font-size: 1.1rem;
  line-height: 1.6;
}

.quick-contacts__link:hover {
  color: #24CBB7;
}

.quick-contacts__effect_bottom {
  position: relative;
}

.quick-contacts__effect_bottom::after {
  content: "";
  -webkit-transform: scale(0);
          transform: scale(0);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease-in-out;
}

.quick-contacts__link .quick-contacts__effect_bottom:hover::after {
  content: "";
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(36, 203, 183, 0.8);
}

.modal-default__content {
  padding: 25px 30px 50px;
  background: #01273A;
  box-shadow: 0px 12px 60px rgba(1, 30, 45, 0.8);
}

.modal-default__header {
  display: block;
  padding: 0;
  border-bottom: none;
  margin-bottom: 30px;
  position: relative;
}

.modal-default__close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 20px;
  height: 37px;
}

.modal-default__close:focus {
  outline: 0;
}

.modal-default__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.modal-default__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.modal-default__body {
  padding: 0;
}

.search-blum {
  width: 100%;
  position: relative;
}

.search-blum__input {
  width: 100%;
  padding: 12px 42px 12px 24px;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0);
  font-weight: 500;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}

.search-blum__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-blum__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-blum__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-blum__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-blum__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-blum__input:focus {
  color: #fff;
  outline: 0;
}

.search-blum__input:focus::-webkit-input-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-blum__input:focus::-moz-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-blum__input:focus:-ms-input-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-blum__input:focus::-ms-input-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-blum__input:focus::placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-blum__buttons {
  position: absolute;
  top: 50%;
  right: 25px;
  padding: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.search-blum-nav__find {
  width: 24px;
}

.search-blum-nav__close {
  width: 23px;
}

.search-panel {
  background: transparent;
  position: relative;
}

.search-panel__input {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  width: 100%;
  padding: 10px 50px 10px 15px;
  font-size: 1.2rem;
}

.search-panel__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-panel__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-panel__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-panel__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-panel__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-panel__input:focus {
  color: #fff;
  outline: 0;
}

.search-panel__input:focus::-webkit-input-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-panel__input:focus::-moz-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-panel__input:focus:-ms-input-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-panel__input:focus::-ms-input-placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-panel__input:focus::placeholder {
  color: #24cbb7;
  outline: 0;
}

.search-panel__buttons {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.search-panel-nav__find {
  width: 26px;
}

.main-slider {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 0;
}

.main-slider.slick-initialized {
  height: 100%;
  opacity: 1;
}

.main-slider__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.main-slider__group {
  padding-right: 600px;
}

.main-slider__title {
  font-size: 100px;
  line-height: 110px;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8);
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.main-slider__subtitle {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
}

.main-slider__active-picture {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-slider__item {
  height: 100vh;
}

.main-slider__item_slide_1 .main-slider__active-picture {
  max-width: 920px;
  right: 50px;
  bottom: 50%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.main-slider__item_slide_2 .main-slider__active-picture {
  max-width: 900px;
  right: 50px;
  bottom: 50%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.main-slider__description {
  margin-top: 80px;
  position: relative;
  z-index: 2;
}

.main-slider__bottom {
  display: flex;
  justify-content: space-between;
}

.main-slider__text-picture {
  margin-bottom: 40px;
}

.main-slider__link {
  max-width: 180px;
}

.main-slider__nav {
  position: absolute;
  bottom: 5px;
  left: 50%;
  right: 50%;
  margin-left: -90px;
}

.main-slider__dots {
  position: absolute;
  bottom: 80px;
  margin: 0;
}

.main-dots {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 -15px;
}

.main-dots__item {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #013E61;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.main-dots__item:focus {
  outline: 0;
}

.slick-active .main-dots__item {
  color: #24CBB7;
  font-size: 24px;
}

.git-pattern path {
  fill-opacity: 0.3;
  opacity: 0;
}

.big-pattern {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.big-pattern svg line,
.big-pattern svg rect,
.big-pattern svg path {
  opacity: 0;
}

.blare-advantage {
  position: relative;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.blare-advantage__front {
  text-align: center;
  height: 254px;
  position: relative;
  z-index: 2;
  padding: 35px;
  background: #01273A;
  box-shadow: 0 12px 50px rgba(1, 30, 45, 0.6);
  border-radius: 15px;
}

.blare-advantage__icon {
  height: 109px;
  margin-bottom: 20px;
}

.blare-advantage__title {
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.blare-advantage__text {
  height: 246px;
  overflow-y: hidden;
  padding: 45px 35px 25px;
  background: #013E61;
  border-radius: 15px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.blare-advantage__text:hover {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.blare-advantage__text::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

.blare-advantage__text::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(36, 203, 183, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0);
}

.blare-advantage:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.blare-advantage:hover .blare-advantage__text {
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
}

.services__title {
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #24CBB7;
  margin-bottom: 60px;
}

.hero {
  position: relative;
  padding: 0;
}

.hero__main-slider {
  position: relative;
  z-index: 1;
}

.hero__bg-anim {
  width: 100%;
  height: 450px;
  position: absolute;
  bottom: 0;
  right: -45%;
  z-index: 0;
}

.advantages-anima__inf {
  position: relative;
  z-index: 2;
}

.advantages-anima__title {
  text-align: center;
  margin-bottom: 110px;
}

.about-company {
  padding-bottom: 60px;
}

.about-company__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.about-company__title {
  margin-top: 100px;
  margin-bottom: 35px;
}

.about-company__text {
  max-width: 550px;
}

.about-company__text > p {
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.about-company__button {
  margin-top: 50px;
  max-width: 200px;
}

.about-company__services {
  text-align: right;
}

.inf-bg {
  background: url(../images/inf-bg.png?766dffdc35d58254a0f8686526aabe47);
  background-size: cover;
}

.inf-bg__fill {
  height: 100vh;
  margin-right: 20px;
  background-color: #013E61;
}

@media (max-height: 929.88px) {
  .section {
    padding-top: 30px;
    height: auto;
  }

  .hero {
    padding-top: 160px;
  }

  .hero__bg-anim {
    margin-bottom: -90px;
  }

  .main-slider__content {
    height: 600px;
    padding-bottom: 0;
  }

  .main-slider__item {
    height: 600px;
  }

  .main-slider__dots {
    bottom: 0;
  }
}

@media (max-height: 820px) {
  .section {
    padding-top: 60px;
  }

  .hero {
    padding-top: 180px;
  }

  .hero__bg-anim {
    margin-bottom: -90px;
  }

  .main-slider__content {
    height: 600px;
    margin: 0;
  }

  .main-slider__description {
    margin-top: 0;
  }

  .main-slider__item {
    height: 600px;
  }
}

@media (max-width: 1559.98px) {
  .big-pattern {
    height: 100%;
  }

  .big-pattern svg {
    height: 100%;
  }

  .navbar-main__link {
    padding: 12px 15px;
    font-size: 1rem;
  }

  .quick-contacts__link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .btn-default {
    padding: 8px;
  }

  .btn-default p {
    font-size: 1rem;
  }

  .main-slider__group {
    padding-right: 480px;
  }

  .main-slider__title {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
  }

  .main-slider__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .main-slider__item_slide_1 .main-slider__active-picture {
    max-width: 590px;
    right: 60px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }

  .main-slider__item_slide_2 .main-slider__active-picture {
    max-width: 530px;
    right: 60px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }

  .main-slider__description {
    margin-top: 0;
  }

  .blare-advantage__front {
    height: 254px;
    padding: 35px 20px;
  }

  .blare-advantage__icon {
    height: 109px;
    margin-bottom: 15px;
  }

  .blare-advantage__title {
    font-size: 1rem;
    letter-spacing: 0.02em;
  }

  .blare-advantage__text {
    height: 220px;
    font-size: 0.9rem;
    padding: 35px 15px 15px;
  }

  .blare-advantage:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1199.98px) {
  .header {
    padding: 20px 0;
  }

  .header__search-form {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }

  .navbar-main__link {
    padding: 10px 24px;
    font-size: 1.1rem;
  }

  .quick-contacts__link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .btn-default {
    padding: 10px;
  }

  .btn-default p {
    font-size: 1.1rem;
  }

  .hero__bg-anim {
    bottom: 50px;
  }

  .main-slider {
    margin-bottom: 0;
  }

  .main-slider__group {
    padding-right: 415px;
  }

  .main-slider__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  .main-slider__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .main-slider__item_slide_1 .main-slider__active-picture {
    max-width: 460px;
  }

  .main-slider__item_slide_2 .main-slider__active-picture {
    max-width: 440px;
  }

  .main-slider__dots {
    bottom: 0;
  }

  .main-dots__item {
    font-size: 30px;
    line-height: 34px;
  }

  .slick-active .main-dots__item {
    font-size: 34px;
  }

  .advantages-anima__item {
    transition: 0.5s linear;
  }

  .advantages-anima__title {
    margin-bottom: 60px;
  }

  .blare-advantage__front {
    height: 254px;
    padding: 35px 20px;
  }

  .blare-advantage__icon {
    height: 109px;
    margin-bottom: 15px;
  }

  .blare-advantage__title {
    font-size: 1.1rem;
    letter-spacing: 0.04em;
  }

  .blare-advantage__text {
    font-size: 1rem;
    padding: 35px 15px 15px;
    height: 177px;
    margin-bottom: -30%;
    transition: 0.3s linear;
  }

  .blare-advantage:hover .blare-advantage__text {
    margin-bottom: 0;
  }

  .big-pattern {
    height: 100%;
  }

  .big-pattern svg {
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  .section {
    padding-top: 30px;
    height: auto;
  }

  .header__search {
    display: none;
  }

  .navbar-main {
    display: none;
  }

  .quick-contacts__link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    line-height: 1.5;
  }

  .btn-default {
    padding: 9px;
  }

  .btn-default p {
    font-size: 1rem;
  }

  .hero {
    padding-top: 110px;
  }

  .main-slider {
    margin-bottom: 0;
  }

  .main-slider__group {
    padding-right: 310px;
  }

  .main-slider__title {
    font-size: 40px;
    line-height: 50px;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.7);
  }

  .main-slider__subtitle {
    margin-bottom: 20px;
  }

  .main-slider__item_slide_1 .main-slider__active-picture {
    max-width: 360px;
  }

  .main-slider__item_slide_2 .main-slider__active-picture {
    max-width: 340px;
  }

  .main-slider__dots {
    bottom: 0;
  }

  .main-dots__item {
    font-size: 20px;
    line-height: 30px;
  }

  .slick-active .main-dots__item {
    font-size: 26px;
  }

  .blare-advantage__front {
    height: 254px;
    padding: 35px 20px;
  }

  .blare-advantage__text {
    font-size: 1rem;
    padding: 35px 15px 15px;
    height: 177px;
  }
}

@media (max-width: 767.98px) {
  .section {
    padding-top: 60px;
  }

  h2 {
    font-size: 4.42rem;
  }

  .header__callback-mobile {
    display: block;
    margin-right: 15px;
  }

  .btn-default_callback_mini {
    max-height: 46px;
  }

  .btn-default_callback_mini svg {
    max-width: 100%;
  }

  .quick-contacts__link {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .hero {
    padding-top: 140px;
  }

  .hero__bg-anim {
    height: auto;
    bottom: 0;
    right: -30%;
    margin-bottom: 0;
  }

  .main-slider__content {
    height: auto;
    margin: 0;
    justify-content: flex-start;
  }

  .main-slider__description {
    margin-top: 0;
  }

  .main-slider__group {
    padding-right: 0;
  }

  .main-slider__item {
    height: auto;
  }

  .main-slider__active-picture {
    opacity: 0.8;
    position: static;
    align-self: flex-end;
    margin-right: 40px;
  }

  .main-slider__item_slide_1 .main-slider__active-picture {
    max-width: 360px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  .main-slider__item_slide_2 .main-slider__active-picture {
    max-width: 340px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  .advantages-anima__title {
    margin-bottom: 40px;
  }

  .blare-advantage__front {
    height: auto;
  }

  .blare-advantage__text {
    height: auto;
    margin-bottom: 30px;
    -webkit-transform: translateY(-13%);
            transform: translateY(-13%);
  }

  .blare-advantage:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .blare-advantage:hover .blare-advantage__text {
    margin-bottom: 30px;
  }

  .big-pattern svg line,
  .big-pattern svg rect,
  .big-pattern svg path {
    stroke-width: 2;
    opacity: 1;
  }
}

@media (max-width: 575.98px) {
  h2 {
    font-size: 2.8rem;
  }

  .title-stroke {
    -webkit-text-stroke: 0px white;
    -webkit-text-fill-color: inherit;
    color: rgba(255, 255, 255, 0.9);
  }

  .logo {
    max-width: 150px;
    display: block;
  }

  .logo svg {
    max-width: 100%;
  }

  .custom-inf .quick-contacts__link {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  .custom-inf .quick-contacts__link:first-child {
    font-size: 1.5rem;
    letter-spacing: 0.04em;
  }

  .main-slider {
    margin-bottom: 0;
  }

  .main-slider__title {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;
    -webkit-text-stroke: 0px white;
    -webkit-text-fill-color: inherit;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
  }

  .main-slider__subtitle {
    margin-bottom: 20px;
    line-height: 22px;
    max-width: 280px;
  }

  .main-slider__item_slide_1 .main-slider__active-picture {
    max-width: 280px;
  }

  .main-slider__item_slide_2 .main-slider__active-picture {
    max-width: 260px;
  }

  .main-slider__dots {
    left: 40px;
  }

  .main-slider__active-picture {
    margin-top: 30px;
    opacity: 0.9;
  }

  .blare-advantage__text {
    margin-bottom: 15px;
  }

  .blare-advantage:hover .blare-advantage__text {
    margin-bottom: 15px;
  }
}

@media (max-width: 380px) {
  .hero__bg-anim {
    display: none;
  }

  .main-slider__dots {
    position: static;
    justify-content: center;
  }
}

