<nav class="navbar-main">
  <ul class="navbar-main__group">
    <li class="navbar-main__item">
      <a href="#" class="navbar-main__link transition">О нас</a>
    </li>
    <li class="navbar-main__item navbar-main__item_dropdown">
      <a href="#" class="navbar-main__link">Услуги</a>
      <div class="navbar-main-level">
        <ul class="navbar-main-level__group">
          <li class="navbar-main-level__item navbar-main-level__item_active">
            <a href="#" class="navbar-main-level__link">Стеллажное оборудование</a>
          </li>
          <li class="navbar-main-level__item">
            <a href="#" class="navbar-main-level__link">Производство и установка металлоконструкций</a>
          </li>
          <li class="navbar-main-level__item">
            <a href="#" class="navbar-main-level__link">Производство и монтаж отбойников</a>
          </li>
          <li class="navbar-main-level__item">
            <a href="#" class="navbar-main-level__link">Перегородки</a>
          </li>
          <li class="navbar-main-level__item">
            <a href="#" class="navbar-main-level__link">Разметка склада</a>
          </li>
          <li class="navbar-main-level__item">
            <a href="#" class="navbar-main-level__link">Прочие услуги</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="navbar-main__item">
      <a href="#" class="navbar-main__link transition">Проекты</a>
    </li>
    <li class="navbar-main__item">
      <a href="#" class="navbar-main__link transition">Оборудование</a>
    </li>
    <li class="navbar-main__item navbar-main__item_active">
      <a href="#" class="navbar-main__link transition">Отзывы</a>
    </li>
    <li class="navbar-main__item transition">
      <a href="#" class="navbar-main__link transition">Контакты</a>
    </li>
  </ul>
</nav>