<div class="necessary-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="necessary-services__info">
          <div class="necessary-services__title">Глубинные стеллажи</div>
          <p>Данный вид стеллажей имеет несколько названий: конструкции глубинной загрузки, набивные стеллажи, проходные
            или оборудование Drive-in. Глубинные стеллажи предназначены для долгого хранения однородных грузов в большом
            объеме на поддонах. Такие стеллажи не подходят для продуктов с ограниченным сроком хранения и нуждающихся
            в сортировке.</p>
          <div class="necessary-services__subtitle">Особенности глубинных стеллажей</div>
          <p>Применение глубинных стеллажей значительно увеличивает полезную площадь для хранения товаров, однако
            сокращает площади для передвижения погрузочной техники. Область применения глубинных стеллажей: разные
            склады, гипермаркеты, складские хозяйства и комплексы, оптовые базы, распределительные логистические
            центры.</p>
          <div class="necessary-services__subtitle">Сборно-разборная конструкция глубинных стеллажей изготовлена из
            сертифицированного металла и включает в себя:
          </div>
          <ul class="default-list">
            <li>Кронштейны и рамы;</li>
            <li>Межрамные связи;</li>
            <li>Ложэлементы из оцинкованного профиля;</li>
            <li>Паллетостопы.</li>
          </ul>
          <ol class="default-list-number">
            <li>Кронштейны и рамы;</li>
            <li>Межрамные связи;</li>
            <li>Ложэлементы из оцинкованного профиля;</li>
            <li>Паллетостопы.</li>
          </ol>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <div class="necessary-services__active-photo">
          <img src="/resources/static/images/nec_photo_ms.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
