<div class="advantages-s advantages-s_bg">
  <div class="container">
    <div class="advantages-s__title">Монтаж стеллажей включает несколько важных этапов:</div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="advantages-s__item advantage-s">
          <div class="advantage-s__icon"><img src="/resources/static/images/ms-i1.png" alt="" class="advantage-s__img"></div>
          <div class="advantage-s__text">Экспертиза помещения склада.</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="advantages-s__item advantage-s">
          <div class="advantage-s__icon"><img src="/resources/static/images/ms-i2.png" alt="" class="advantage-s__img"></div>
          <div class="advantage-s__text">Сборка всех элементов
            и вертикальных рам конструкции стеллажа и выравнивание рядов.</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="advantages-s__item advantage-s">
          <div class="advantage-s__icon"><img src="/resources/static/images/ms-i3.png" alt="" class="advantage-s__img"></div>
          <div class="advantage-s__text">Крепление к полу, а при необходимости, и к стенам.
            Установка стеллажей.</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="advantages-s__item advantage-s">
          <div class="advantage-s__icon"><img src="/resources/static/images/ms-i4.png" alt="" class="advantage-s__img"></div>
          <div class="advantage-s__text">Диагностика установленной системы.</div>
        </div>
      </div>
    </div>
  </div>
</div>