<div class="text-section text-section_bg">
  <div class="container">
    <h5 class="title-default">Особенности демонтажа металлоконструкций</h5>
    <p>Учитывая, что конструкция может повторно использоваться, следует обеспечить сохранность элементов стеллажной
      системы по максимуму. Поэтому, наши специалисты осуществляют демонтаж металлоконструкций вручную.</p>
    <p>Наиболее популярным типом соединения является болтовой, при этом болты обычно подбирают, ориентируясь на класс
      прочности. Сварные соединения обычно не разбирают, но при необходимости, сделать это реально, прогрев горелкой швы
      и произведя механическое разъединение частей. Отсоединенные детали отгружают, используя грузоподъемную технику.
      Широко используют автокраны различных видов с обязательным учетом правил безопасности при выполнении
      грузоподъемных работ.</p>
    
    <h6 class="subtitle-default">Стоимость демонтажа стеллажей</h6>
  
    <p>При заказе работ по разборке складского оборудования, стоит учитывать, что стоимость демонтажа
      металлоконструкций подсчитывается индивидуально в каждом конкретном случае.</p>
    <p>Цена зависит от вида, сложности и размера оборудования, местонахождения склада, а также с учетом сроков
      выполнения данных работ.</p>
  </div>
</div>