<footer class="footer">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto ml-auto mr-auto">
          {% include "../Logo/Logo.twig" %}
          <div class="footer__privacy privacy">
              <a href="#" class="privacy__link">Политика конфидециальности</a>
          </div>
          <div class="footer__copyright">МК Терминал сервис 2020 ©</div>
      </div>
      <div class="d-none d-lg-block col-lg-auto">
        <div class="footer__nav">
          {% include "../Navigations/FooterMain.twig" %}
        </div>
      </div>
      <div class="d-none d-sm-block col-auto ml-auto mr-auto">
        <div class="footer__quick-contacts">
          {% include '../QuickContacts/QuickContacts.twig' %}
        </div>
        <div class="footer__cosial">
          <div class="cosial">
            <a href="#" class="cosial__item" target="_blank">
              <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.426 5.94735C13.9435 6.45257 14.4897 6.92791 14.9538 7.48408C15.1588 7.73123 15.3529 7.98627 15.5014 8.2731C15.7118 8.68083 15.5212 9.12952 15.1556 9.15387L12.883 9.15284C12.2968 9.20148 11.8292 8.9655 11.436 8.56474C11.1214 8.24424 10.83 7.90314 10.5274 7.57183C10.4034 7.43641 10.2736 7.30899 10.1185 7.20827C9.80823 7.00689 9.53894 7.06855 9.36165 7.39213C9.18108 7.72123 9.14012 8.08566 9.12239 8.45244C9.09804 8.9876 8.93628 9.12829 8.39872 9.15279C7.24989 9.20697 6.15959 9.03316 5.14674 8.45362C4.25377 7.94271 3.56131 7.22145 2.9586 6.4049C1.78512 4.81491 0.886463 3.06778 0.0787853 1.2717C-0.103017 0.867038 0.0299392 0.649819 0.476422 0.64213C1.21783 0.627728 1.95913 0.628753 2.70141 0.641105C3.00274 0.645513 3.20222 0.818345 3.31857 1.10302C3.71969 2.08932 4.21051 3.0277 4.8266 3.8975C4.99066 4.12907 5.15796 4.36064 5.39619 4.52363C5.65975 4.7041 5.86041 4.64429 5.9844 4.3507C6.06307 4.16454 6.09752 3.96403 6.11525 3.76464C6.17399 3.0787 6.18173 2.39393 6.07871 1.71039C6.01546 1.28379 5.77518 1.00763 5.3495 0.926904C5.13228 0.885746 5.16462 0.804917 5.2698 0.680931C5.45247 0.467094 5.62428 0.333984 5.96677 0.333984H8.53521C8.93956 0.413789 9.02936 0.595437 9.08472 1.0023L9.08692 3.85531C9.08251 4.01282 9.1656 4.48022 9.44929 4.58447C9.67635 4.65869 9.82602 4.47704 9.96225 4.33306C10.5772 3.68038 11.0161 2.90904 11.4082 2.11033C11.5822 1.75913 11.7318 1.3944 11.8768 1.02998C11.9843 0.759556 12.1528 0.626497 12.4575 0.632392L14.9294 0.634596C15.0027 0.634596 15.0769 0.635672 15.1479 0.64782C15.5644 0.718808 15.6786 0.897996 15.5499 1.30476C15.3472 1.94293 14.9528 2.47476 14.5672 3.00904C14.1549 3.57946 13.714 4.13035 13.3052 4.70415C12.9296 5.22813 12.9594 5.49225 13.426 5.94735Z" fill="white"/>
              </svg>
            </a>
            <a href="#" class="cosial__item" target="_blank">
              <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.3182 0.00360649L7.07045 0C4.54519 0 2.91325 1.67431 2.91325 4.26576V6.23256H0.653241C0.45795 6.23256 0.299805 6.39088 0.299805 6.58617V9.43584C0.299805 9.63113 0.45813 9.78928 0.653241 9.78928H2.91325V16.9799C2.91325 17.1752 3.07139 17.3333 3.26669 17.3333H6.21535C6.41064 17.3333 6.56879 17.175 6.56879 16.9799V9.78928H9.21127C9.40656 9.78928 9.5647 9.63113 9.5647 9.43584L9.56578 6.58617C9.56578 6.4924 9.52846 6.4026 9.46228 6.33624C9.3961 6.26988 9.30594 6.23256 9.21217 6.23256H6.56879V4.56528C6.56879 3.76391 6.75975 3.3571 7.80365 3.3571L9.31784 3.35656C9.51295 3.35656 9.67109 3.19824 9.67109 3.00312V0.357043C9.67109 0.162112 9.51313 0.00396714 9.3182 0.00360649Z" fill="white"/>
              </svg>
            </a>
            <a href="#" class="cosial__item" target="_blank">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.1249 0.866211H5.2749C2.58293 0.866211 0.399902 3.04924 0.399902 5.74121V11.5912C0.399902 14.2832 2.58293 16.4662 5.2749 16.4662H11.1249C13.8169 16.4662 15.9999 14.2832 15.9999 11.5912V5.74121C15.9999 3.04924 13.8169 0.866211 11.1249 0.866211ZM14.5374 11.5912C14.5374 13.473 13.0067 15.0037 11.1249 15.0037H5.2749C3.39315 15.0037 1.8624 13.473 1.8624 11.5912V5.74121C1.8624 3.85946 3.39315 2.32871 5.2749 2.32871H11.1249C13.0067 2.32871 14.5374 3.85946 14.5374 5.74121V11.5912Z" fill="white"/>
                <path d="M8.1999 4.76621C6.04613 4.76621 4.2999 6.51244 4.2999 8.66621C4.2999 10.82 6.04613 12.5662 8.1999 12.5662C10.3537 12.5662 12.0999 10.82 12.0999 8.66621C12.0999 6.51244 10.3537 4.76621 8.1999 4.76621ZM8.1999 11.1037C6.85635 11.1037 5.7624 10.0098 5.7624 8.66621C5.7624 7.32169 6.85635 6.22871 8.1999 6.22871C9.54345 6.22871 10.6374 7.32169 10.6374 8.66621C10.6374 10.0098 9.54345 11.1037 8.1999 11.1037Z" fill="white"/>
                <path d="M12.3926 4.99337C12.6797 4.99337 12.9123 4.76071 12.9123 4.4737C12.9123 4.18669 12.6797 3.95403 12.3926 3.95403C12.1056 3.95403 11.873 4.18669 11.873 4.4737C11.873 4.76071 12.1056 4.99337 12.3926 4.99337Z" fill="white"/>
              </svg>
            </a>
            <a href="#" class="cosial__item" target="_blank">
              <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.3002 2.34135C15.7201 2.59582 15.1019 2.7645 14.4574 2.8464C15.1204 2.45055 15.6265 1.8285 15.8644 1.07872C15.2462 1.44727 14.5637 1.7076 13.8364 1.85287C13.2494 1.2279 12.4129 0.84082 11.5003 0.84082C9.72967 0.84082 8.30422 2.27797 8.30422 4.0398C8.30422 4.2933 8.32567 4.53705 8.37832 4.7691C5.7195 4.63942 3.36682 3.3651 1.78635 1.42387C1.51042 1.9026 1.34857 2.45055 1.34857 3.04042C1.34857 4.14802 1.91895 5.12985 2.76915 5.69827C2.25532 5.68852 1.75125 5.53935 1.3242 5.30437C1.3242 5.31412 1.3242 5.3268 1.3242 5.33947C1.3242 6.89362 2.43277 8.18452 3.8865 8.4819C3.62617 8.55307 3.34245 8.5872 3.048 8.5872C2.84325 8.5872 2.63655 8.5755 2.44252 8.5326C2.8569 9.79912 4.03275 10.7302 5.4309 10.7605C4.3428 11.6116 2.96122 12.1245 1.46557 12.1245C1.2033 12.1245 0.951745 12.1128 0.700195 12.0806C2.11687 12.9942 3.79582 13.5158 5.6064 13.5158C11.4915 13.5158 14.709 8.64082 14.709 4.41517C14.709 4.2738 14.7041 4.1373 14.6973 4.00177C15.332 3.55132 15.8653 2.98875 16.3002 2.34135Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-flex col-auto flex-column flex-sm-row flex-md-column flex-lg-row flex-xl-column flex-xxl-row mt-4 mt-md-0 mt-lg-4 mt-xl-0 ml-auto mr-auto ml-md-0 mr-md-0 ml-lg-auto mr-lg-auto">
        <div class="footer__search">
          {% include '../Search/SearchDefault.twig' %}
        </div>
        <div class="footer__callback">
          {% include '../Buttons/Btn.twig' with
            {
              'data': 'data-toggle="modal" data-target="#callback"'
            } %}
        </div>
      </div>
    </div>
  </div>
</footer>