<div class="row align-items-end">
  <div class="col-md-6 col-xl-3 col-anim">
    <div class="advantages-anima__item blare-advantage">
      <div class="blare-advantage__front">
        <div class="blare-advantage__icon">
          <svg width="94" height="109" viewBox="0 0 94 109" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M39.8832 49.1341V61H3.91919V49.1341H15.6847V14.9372C15.184 15.5964 14.4052 16.338 13.3483 17.162C12.347 17.9311 11.1788 18.7002 9.84366 19.4693C8.50857 20.1834 7.14566 20.7877 5.75494 21.2821C4.36422 21.7765 3.11258 22.0237 2 22.0237V9.91062C3.50198 9.91062 5.03177 9.52607 6.58938 8.75698C8.20261 7.9879 9.67677 7.10894 11.0119 6.12011C12.347 5.07635 13.4317 4.14246 14.2661 3.31843C15.1006 2.49441 15.5734 2.05493 15.6847 2H29.2859V49.1341H39.8832ZM71.3061 60.9176V48.6397H48.0254V36.8561L75.5617 2.41201H84.657V36.8561H92V48.6397H84.657V60.9176H71.3061ZM61.2929 36.8561H72.8081V22.1885L61.2929 36.8561Z"
              stroke="#24CBB7" stroke-width="2.5" stroke-linejoin="round" />
            <path
              d="M21.0255 106.757C21.0255 107.309 21.4732 107.757 22.0255 107.757H28.8392C29.3915 107.757 29.8392 107.309 29.8392 106.757V78C29.8392 77.4477 29.3915 77 28.8392 77H8.3982C7.85953 77 7.41766 77.4267 7.39881 77.965L7.10798 86.268C7.10798 86.268 7.10798 86.2681 7.10798 86.2681C6.99787 89.4078 6.79213 91.9294 6.4959 93.8458L6.49583 93.8458L6.49416 93.8576C6.22306 95.7604 5.85318 97.1453 5.41703 98.0665L5.40796 98.0862C4.99438 99.0112 4.52422 99.5355 4.05623 99.8031C3.50694 100.088 2.83169 100.249 2 100.249C1.44772 100.249 1 100.696 1 101.249V107C1 107.552 1.44772 108 2 108C4.21669 108 6.16925 107.706 7.83301 107.087L7.83302 107.087L7.84182 107.083C9.57868 106.418 11.0083 105.31 12.1164 103.779C13.2252 102.248 14.0134 100.196 14.5285 97.6882C15.071 95.1807 15.4068 92.0407 15.5464 88.2843L15.6764 84.8324H21.0255V106.757ZM58.3065 100.925C58.3065 100.372 57.8588 99.9246 57.3065 99.9246H44.3883V95.8087H55.0214C55.5737 95.8087 56.0214 95.3609 56.0214 94.8087V89.4218C56.0214 88.8695 55.5737 88.4218 55.0214 88.4218H44.3883V84.8324H56.9326C57.4848 84.8324 57.9326 84.3847 57.9326 83.8324V78C57.9326 77.4477 57.4848 77 56.9326 77H36.5747C36.0224 77 35.5747 77.4477 35.5747 78V106.757C35.5747 107.309 36.0224 107.757 36.5747 107.757H57.3065C57.8588 107.757 58.3065 107.309 58.3065 106.757V100.925ZM86 84.8324C86.5523 84.8324 87 84.3847 87 83.8324V78C87 77.4477 86.5523 77 86 77H61.1966C60.6443 77 60.1966 77.4477 60.1966 78V83.8324C60.1966 84.3847 60.6443 84.8324 61.1966 84.8324H69.2122V106.757C69.2122 107.309 69.66 107.757 70.2122 107.757H77.0259C77.5782 107.757 78.0259 107.309 78.0259 106.757V84.8324H86Z"
              stroke="white" stroke-width="2" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="blare-advantage__title">Опыт работы на рынке складской логистики</div>
      </div>
      <div class="blare-advantage__text">
        Краткое описание преимущества. Занимаемся монтажом и демонтажом стеллажных систем складского хранения, сотрудничает с крупными поставщиками стеллажного оборудования Санкт-Петербурга и Москвы.
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 col-anim">
    <div class="advantages-anima__item blare-advantage">
      <div class="blare-advantage__front">
        <div class="blare-advantage__icon">
          <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.8025 62.3706H3.59717V86.6989H34.8025V62.3706Z" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M24.7183 62.3706H14.1577V69.5589H24.7183V62.3706Z" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M86.3435 62.3706H55.1382V86.6989H86.3435V62.3706Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M76.2593 62.3706H65.6987V69.5589H76.2593V62.3706Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M55.1378 68.085H34.6626V86.6989H55.1378V68.085Z" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M48.521 68.085H41.5918V73.5848H48.521V68.085Z" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.872 53.5987C14.0136 53.5987 16.5604 51.0608 16.5604 47.9302C16.5604 44.7996 14.0136 42.2617 10.872 42.2617C7.73038 42.2617 5.18359 44.7996 5.18359 47.9302C5.18359 51.0608 7.73038 53.5987 10.872 53.5987Z" stroke="white" stroke-width="2"/>
            <path d="M35.4467 53.5987C38.5883 53.5987 41.1351 51.0608 41.1351 47.9302C41.1351 44.7996 38.5883 42.2617 35.4467 42.2617C32.3051 42.2617 29.7583 44.7996 29.7583 47.9302C29.7583 51.0608 32.3051 53.5987 35.4467 53.5987Z" stroke="white" stroke-width="2"/>
            <path d="M16.5371 48.4502H28.8308" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/>
            <path d="M86.3435 62.3706H55.1382V86.6989H86.3435V62.3706Z" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M76.2593 62.3706H65.6987V69.5589H76.2593V62.3706Z" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M37.1044 47.9282H33.7891" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.5296 47.9282H9.21436" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.57354 48.0925H1.65625V31.1159L10.3661 22.9826L10.1467 1.35314L25.8136 1.24414L45.0952 35.4695V47.9156H41.4252H41.135" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.48633 30.3398H40.5486" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M44.9854 12.9241V46.6066" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M44.9854 34.9802H63.4457" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M45.0952 47.915H67.5546" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M63.5557 47.9156V22.2615" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M45.314 21.9834H83.7688" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M83.9328 1H56.0503V21.9834H83.9328V1Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M74.9223 1H65.4863V7.19998H74.9223V1Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M83.9328 1H56.0503V21.9834H83.9328V1Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M74.9223 1H65.4863V7.19998H74.9223V1Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.625 7.0858V20.7053H30.3054L22.7951 7.07422L15.625 7.0858Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

        </div>
        <div class="blare-advantage__title">Профессиональное обслуживание</div>
      </div>
      <div class="blare-advantage__text">
        Краткое описание преимущества. Занимаемся монтажом и демонтажом стеллажных систем складского хранения, сотрудничает с крупными поставщиками стеллажного оборудования Санкт-Петербурга и Москвы.
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 col-anim">
    <div class="advantages-anima__item blare-advantage">
      <div class="blare-advantage__front">
        <div class="blare-advantage__icon">
          <svg width="101" height="98" viewBox="0 0 101 98" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M98.8251 41.3255C99.996 49.085 99.2629 57.247 96.3142 65.1139C87.1381 89.597 59.9764 101.958 35.6469 92.724C11.3176 83.4897 -0.966421 56.1564 8.20999 31.6733C17.3861 7.19019 44.5476 -5.17119 68.8773 4.06325" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.1295 80L1.69905 88.1007L1.64453 96.6941L9.25951 96.53L18.2341 88.3199" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.3154 71.7486L38.7121 50.7849L34.1701 46.7073C34.1701 46.7073 31.6953 44.2579 32.8104 41.5895C33.9254 38.921 53.0841 20.1744 54.8521 18.6143C56.62 17.0543 62.0043 9.6788 67.3482 15.2891C72.6922 20.8996 82.9442 29.5773 84.0865 31.1647C85.2288 32.7522 87.8397 35.0782 80.252 42.2214C72.6641 49.3647 61.4054 61.201 61.4054 61.201C61.4054 61.201 57.0269 69.1105 51.6421 64.0748C46.2574 59.0389 46.2574 58.9569 46.2574 58.9569" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M71.2921 29.7896C74.0171 29.7896 76.2259 31.9817 76.2259 34.6859C76.2259 37.3901 74.0171 39.5823 71.2921 39.5823C68.567 39.5823 66.3584 37.3901 66.3584 34.6859C66.3584 31.9817 68.567 29.7896 71.2921 29.7896Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M26.1333 79.7583L30.2672 80.0321L30.4846 75.5985L38.317 67.881H42.7772L42.8314 62.7358" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="blare-advantage__title">Услуги под ключ</div>
      </div>
      <div class="blare-advantage__text">
        Краткое описание преимущества. Занимаемся монтажом и демонтажом стеллажных систем складского хранения, сотрудничает с крупными поставщиками стеллажного оборудования Санкт-Петербурга и Москвы.
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 col-anim">
    <div class="advantages-anima__item blare-advantage">
      <div class="blare-advantage__front">
        <div class="blare-advantage__icon">
          <svg width="75" height="79" viewBox="0 0 75 79" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9937 59.6123H20.0455V65.8087H12.9937V59.6123Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9937 69.7295H20.0455V65.8091H12.9937V69.7295Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9937 69.7295H20.0455V77.2746H12.9937V69.7295Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M55.9521 59.6123H63.0039V65.8087H55.9521V59.6123Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M55.9521 69.7295H63.0039V65.8091H55.9521V69.7295Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M55.9521 69.7295H63.0039V77.2746H55.9521V69.7295Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M38.0367 63.8481C38.9494 63.8481 39.6895 64.5798 39.6895 65.4821C39.6895 66.3843 38.9494 67.116 38.0367 67.116C37.1239 67.116 36.3838 66.3843 36.3838 65.4821C36.3838 64.5798 37.1239 63.8481 38.0367 63.8481Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M38.0367 70.6958C38.9494 70.6958 39.6895 71.4274 39.6895 72.3297C39.6895 73.2319 38.9494 73.9636 38.0367 73.9636C37.1239 73.9636 36.3838 73.2319 36.3838 72.3297C36.3838 71.4274 37.1239 70.6958 38.0367 70.6958Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M25.213 55.3362C25.213 55.3362 9.4697 60.0501 5.31472 67.1494C-0.0964674 76.3947 2.0893 77.4653 2.0893 77.4653L73.3462 77.7152C73.3462 77.7152 73.5102 69.5617 70.6127 66.0403C67.7152 62.5185 57.4383 55.5577 50.7693 55.2251" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M30.0513 42.8503L29.8325 49.1187L37.923 56.9543L45.4121 50.3075L45.2481 42.5801" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M29.2869 48.4164L24.8589 52.145L31.2002 62.2501L37.9235 56.9546L44.3198 62.1962L50.7158 52.145L45.7412 48.0923" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23.0131 21.3825C23.0131 21.3825 19.2412 43.6465 37.3355 43.8086C55.4298 43.9707 52.4778 21.1125 52.4778 21.1125" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.0874 20.2478L61.1797 20.3887" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21.0454 18.5191C21.0454 18.5191 20.936 2.09133 37.6638 1.98317C54.3914 1.87502 54.3369 19.0592 54.3369 19.0592" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M37.6644 3.55029C37.6098 19.2757 37.6644 19.2757 37.6644 19.2757" stroke="#24CBB7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="blare-advantage__title">Квалифицированный персонал</div>
      </div>
      <div class="blare-advantage__text">
        Краткое описание преимущества. Занимаемся монтажом и демонтажом стеллажных систем складского хранения, сотрудничает с крупными поставщиками стеллажного оборудования Санкт-Петербурга и Москвы.
      </div>
    </div>
  </div>
</div>