<div class="main-slider">
  <div class="main-slider__item main-slider__item_slide_1">
    <div class="main-slider__content">
      <div class="main-slider__description">
        <div class="container">
          <div class="main-slider__group">
            <div class="main-slider__title">Прочно и надёжно!</div>
            <div class="main-slider__subtitle">Изготовление и монтаж металлоконструкций</div>
            <div class="main-slider__link">
              {% include '../../Common/Buttons/BtnLink.twig' %}
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__active-picture">
        <img src="/resources/static/images/main-slider/karkas.png" alt="" class="main-slider__prod-img img-fluid">
      </div>
    </div>
  </div>
  
  <div class="main-slider__item main-slider__item_slide_2">
    <div class="main-slider__content">
      <div class="main-slider__description">
        <div class="container">
          <div class="main-slider__group">
            <div class="main-slider__title">Всё на своих местах!</div>
            <div class="main-slider__subtitle">Установка стеллажного оборудования под ключ</div>
            <div class="main-slider__link">
              {% include '../../Common/Buttons/BtnLink.twig' %}
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__active-picture">
        <img src="/resources/static/images/main-slider/stellag.png" alt="" class="main-slider__prod-img img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container container-dots"></div>