<div class="projects">
  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-4 down-side">
      <a href="#" class="projects__item project" style="background-image: url(/resources/static/images/photo1_full.jpg)">
        <div class="project__name">Паллетные стеллажи</div>
        <div class="project__mask mask-photo"></div>
      </a>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4 down-side">
      <a href="#" class="projects__item project" style="background-image: url(/resources/static/images/photo1_full.jpg)">
        <div class="project__name">Металлоконструкции</div>
        <div class="project__mask mask-photo"></div>
      </a>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-6 col-lg-6 mb-4 down-side">
          <a href="#" class="projects__item project" style="background-image: url(/resources/static/images/photo3_min.jpg)">
            <div class="project__name">Межскладские перегородки из проф. листа</div>
            <div class="project__mask mask-photo"></div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-6 mb-4 down-side">
          <a href="#" class="projects__item project" style="background-image: url(/resources/static/images/photo2_min.jpg)">
            <div class="project__name">Отбойники</div>
            <div class="project__mask mask-photo"></div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-6 mb-4 down-side" >
          <a href="#" class="projects__item project" style="background-image: url(/resources/static/images/photo2_min.jpg)">
            <div class="project__name">Перегородки из сэндвич-панели</div>
            <div class="project__mask mask-photo"></div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-6 mb-4 down-side">
          <a href="#" class="projects__item project" style="background-image: url(/resources/static/images/photo3_min.jpg)">
            <div class="project__name">Эстакады</div>
            <div class="project__mask mask-photo"></div>
          </a>
        </div>
      </div>
    
    </div>
  </div>
</div>