<ul class="services__list list-services">
  <li class="right-side">
    <a href="">Стеллажное оборудование</a>
  </li>
  <li class="right-side">
    <a href="">Производство и установка металлоконструкций</a>
  </li>
  <li class="right-side">
    <a href="">Производство и монтаж отбойников</a>
  </li>
  <li class="right-side">
    <a href="">Перегородки</a>
  </li>
  <li class="right-side">
    <a href="">Разметка склада</a>
  </li>
  <li class="right-side">
    <a href="">Прочие услуги</a>
  </li>
</ul>