<ul class="services__list list-services">
  <li class="right-side">
    <a href="">Изготовление и монтаж металлоконструкций</a>
  </li>
  <li class="right-side">
    <a href="">Установка межскладских перегородок</a>
  </li>
  <li class="right-side">
    <a href="">Стеллажное оборудование</a>
  </li>
  <li class="right-side">
    <a href="">Демонтаж стеллажного оборудования</a>
  </li>
  <li class="right-side">
    <a href="">Строительно-монтажные работы</a>
  </li>
  <li class="right-side">
    <a href="">Производство и установка металлических отбойников</a>
  </li>
  <li class="right-side">
    <a href="">Помощь в продаже и покупке стеллажного оборудования</a>
  </li>
  <li class="right-side">
    <a href="">Складской переезд</a>
  </li>
  <li class="right-side">
    <a href="">Освидетельствование и ремонт стеллажного  оборудования</a>
  </li>
  <li class="right-side">
    <a href="">Разметка склада</a>
  </li>
</ul>