<form class="form-default {{ additionalClass }}">
  {{ inputs|default('<div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Имя"></div>') }}
  
  <div class="form-default__privacy">
    Заполняя данную форму, вы соглашаетесь с <a href="/politika-konfidencialnosti/">политикой обработки</a> персональных данных.
  </div>
  
  <div class="form-group form-default__button">
    {%  include "../Buttons/Btn.twig" with
      {
        'name': 'Отправить заявку',
        'type': 'submit'
      }
    %}
  </div>
</form>