<form class="form-default {{ additionalClass }}">
  {{ inputs|default('<div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Имя"></div>') }}
  
  <div class="row align-items-center">
    <div class="col-md-7 col-lg-8 col-xxl-9">
      <div class="form-default__privacy">
        Заполняя данную форму, вы соглашаетесь с <a href="/politika-konfidencialnosti/">политикой обработки</a> персональных данных.
      </div>
    </div>
    <div class="col-md-5 col-lg-4 col-xxl-3">
      <div class="form-group form-default__button">
        {%  include "../Buttons/Btn.twig" with
          {
            'name': 'Отправить заявку',
            'type': 'submit'
          }
        %}
      </div>
    </div>
  </div>
  
  
  
</form>