<div class="advantages-anima__bg big-pattern">
  <svg viewBox="0 0 1920 1000" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
      <g clip-path="url(#clip1)">
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 178.64 -138.533)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 232.935 -169.878)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 400.476 -266.599)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 567.001 -362.734)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 733.527 -458.87)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 900.053 -555.005)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 284.183 -199.463)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 345.166 -234.669)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 511.691 -330.804)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 678.217 -426.939)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 450.708 -295.598)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 617.234 -391.734)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 783.76 -487.869)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 844.743 -523.075)" stroke="#013E61" stroke-width="4"/>
        <line y1="-2" x2="2304" y2="-2" transform="matrix(0.866044 0.499967 -0.866044 0.499967 950.286 -584.004)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="397" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 59.9922 -157.032)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 425.463 53.9541)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 484.354 87.9519)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 543.245 121.95)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 602.136 155.948)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="397" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 661.027 189.945)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="533" height="608" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 231.933 517.656)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="25" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 270.905 540.154)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="26" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 307.279 561.153)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="25" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 342.787 581.652)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="25" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 378.294 602.15)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="26" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 414.669 623.149)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="25" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 450.176 643.648)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="533" height="608" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 994.052 957.627)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="145" height="608" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 231.933 517.656)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <rect x="-3.46418" y="-1.19209e-07" width="145" height="608" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 994.052 957.627)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <rect x="-3.46418" y="-1.19209e-07" width="145" height="608" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 41.4034 627.649)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <rect x="-3.46418" y="-1.19209e-07" width="144" height="608" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 807.853 1065.12)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <rect x="-3.46418" y="-1.19209e-07" width="145" height="608" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 622.519 1172.11)" stroke="#013E61" stroke-width="4" stroke-dasharray="8 8"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="25" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 1033.02 980.126)" stroke="#013E61" stroke-width="4"/>
        <rect x="-3.46418" y="-1.19209e-07" width="630" height="26" rx="8" transform="matrix(-0.866044 0.499967 -0.866044 -0.499967 1069.4 1001.12)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1026.5 400.932)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1085.39 434.929)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1144.28 468.927)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1203.17 502.925)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="397" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1262.06 536.923)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="397" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1863.1 883.9)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1627.53 747.909)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1686.42 781.907)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1745.31 815.904)" stroke="#013E61" stroke-width="4"/>
        <rect y="1.99987" width="43" height="174" rx="8" transform="matrix(0.866044 0.499967 -0.866044 0.499967 1804.21 849.902)" stroke="#013E61" stroke-width="4"/>
        <path d="M563.539 425.045C570.645 426.272 572.903 431.436 567.658 434.464L539.82 450.535C534.08 453.849 534.081 459.221 539.82 462.534L722.266 567.86C726.092 570.069 726.092 573.651 722.266 575.86L665.691 608.521C661.864 610.73 655.661 610.73 651.834 608.521L469.388 503.195C463.649 499.881 454.343 499.881 448.603 503.195L420.241 519.568C414.988 522.601 406.028 521.287 403.918 517.175L341.66 395.855C339.448 391.546 346.405 387.541 353.863 388.829L563.539 425.045Z" stroke="#013E61" stroke-width="4"/>
        <path d="M121.835 170.049C128.941 171.277 131.199 176.441 125.954 179.468L98.116 195.539C92.3764 198.853 92.3764 204.225 98.116 207.539L280.562 312.865C284.388 315.074 284.388 318.655 280.562 320.864L223.987 353.525C220.16 355.734 213.956 355.734 210.13 353.525L27.6842 248.199C21.9446 244.885 12.6388 244.885 6.89915 248.199L-21.4631 264.572C-26.7161 267.605 -35.6758 266.291 -37.786 262.179L-100.044 140.859C-102.256 136.55 -95.2994 132.545 -87.8414 133.834L121.835 170.049Z" stroke="#013E61" stroke-width="4"/>
        <path d="M1446.95 935.037C1454.05 936.264 1456.31 941.428 1451.07 944.456L1423.23 960.527C1417.49 963.84 1417.49 969.212 1423.23 972.526L1605.67 1077.85C1609.5 1080.06 1609.5 1083.64 1605.67 1085.85L1549.1 1118.51C1545.27 1120.72 1539.07 1120.72 1535.24 1118.51L1352.8 1013.19C1347.06 1009.87 1337.75 1009.87 1332.01 1013.19L1303.65 1029.56C1298.4 1032.59 1289.44 1031.28 1287.33 1027.17L1225.07 905.847C1222.86 901.538 1229.81 897.533 1237.27 898.821L1446.95 935.037Z" stroke="#013E61" stroke-width="4"/>
        <path d="M1005.24 680.041C1012.35 681.268 1014.61 686.432 1009.36 689.46L981.524 705.531C975.785 708.844 975.785 714.216 981.524 717.53L1163.97 822.856C1167.8 825.065 1167.8 828.646 1163.97 830.855L1107.39 863.516C1103.57 865.725 1097.36 865.725 1093.54 863.516L911.092 758.19C905.353 754.877 896.047 754.877 890.307 758.19L861.945 774.564C856.692 777.596 847.732 776.283 845.622 772.171L783.364 650.851C781.153 646.542 788.109 642.537 795.567 643.825L1005.24 680.041Z" stroke="#013E61" stroke-width="4"/>
      </g>
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="1920" height="1000" fill="white"/>
      </clipPath>
      <clipPath id="clip1">
        <path d="M1060.27 -647.5C1062.66 -648.881 1066.54 -648.881 1068.93 -647.5L3331.89 658.907C3334.29 660.287 3334.29 662.526 3331.89 663.906L1369.04 1797.06C1366.65 1798.44 1362.77 1798.44 1360.38 1797.06L-902.581 490.655C-904.973 489.275 -904.973 487.036 -902.581 485.656L1060.27 -647.5Z" fill="white"/>
      </clipPath>
    </defs>
  </svg>

</div>