{% extends "Layouts/app.twig" %}

{% set title = 'MK Terminal' %}
{% set app = 'app app_page' %}

{% block body %}
  
  {% include "Сomponents/Common/Patterns/FullPattern.twig" %}
  {% include "Сomponents/Common/Header/Header.twig" %}
  {% include "Сomponents/Common/Navigations/NavbarMobile.twig" %}
  
  <div class="content">
    {% include "Сomponents/SecondPages/Partials/Breadcrumbs/Breadcrumbs.twig" %}
    <div class="container">
      <h1>Контакты</h1>
      <p>Изготовление, монтаж металлоконструкций,<br> комплексное обслуживание логистических парков<br> и складских терминалов</p>
      <br>
      <div class="contacts-information">
        <div class="contacts-information__item contacts-information__item_phone">
          <a href="tel:+79219434462" class="contacts-information__link">+7 (921) 943-44-62</a>
        </div>
        <div class="contacts-information__item contacts-information__item_email">
          <a href="mailto:info@terminal-service.pro" class="contacts-information__link">info@terminal-service.pro</a>
        </div>
        <br>
        <div class="contacts-information__item contacts-information__item_adr">Россия, Санкт-Петербург, Набережная реки Смоленки, 19-21</div>
        <div class="contacts-information__item contacts-information__item_time">Пн.-Пт.: 9.00-18.00</div>
      </div>
    </div>
 
    {#<div class="full-width-block full-width-block_theme_bg_blue">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-sm-12 col-md-7 col-xl-6">
            <div class="full-width-block__group">
              <div class="title-h2 full-width-block__title">
                Оставьте заявку и наш менеджер свяжется с вами
              </div>
              {% include "Сomponents/Common/Forms/FormDefault.twig" with
                {
                  'additionalClass': '',
                  'inputs': '
                        <div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Имя"></div>
                        <div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Телефон"></div>',
                } %}
            </div>
          </div>
          <div class="d-sm-none d-md-block col-md-5 col-xl-6 pl-0 pr-0 pl-sm-3 pr-sm-3">
#}{#            <img src="/custom/mind/images/staff_bg.jpg" alt="" class="full-width-block__img full-width-block__img_last">#}{#
          </div>
        </div>
      </div>
    </div>#}
  </div>
  
  <div class="form-static-standard form-static-standard_theme_blue">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 pl-4">
          <div class="form-static-standard__group">
            <div class="form-static-standard__title">Оставьте заявку и наш менеджер свяжется с вами</div>
            {% include "Сomponents/Common/Forms/FormDefault.twig" with
              {
                'inputs': '
                        <div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Имя"></div>
                        <div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Телефон"></div>',
              } %}
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="form-static-standard__map map">
            <div class="map__yamap" id="map">
              {% include "Сomponents/Common/Preloader/PreloaderMini.twig"  %}
            </div>
          </div>
        </div>
        </div>
        
      </div>
      
    
  </div>
  
  {% include "Сomponents/Common/Footer/Footer.twig" %}
  {% include "Сomponents/Common/Modals/Modals.twig" %}
{% endblock %}