{% extends "Layouts/app.twig" %}

{% set title = 'MK Terminal' %}

{% block body %}
  {% include "Сomponents/Common/Header/Header.twig" %}
  {% include "Сomponents/Common/Navigations/NavbarMobile.twig" %}
  <div id="fullpage">
     {%  include "Сomponents/HomePage/Hero.twig" %}
    {% include "Сomponents/HomePage/AdvantagesAnima.twig" %}
  
  </div>
  
  
  {% include "Сomponents/Common/Footer/Footer.twig" %}
  {% include "Сomponents/Common/Modals/Modals.twig" %}
{% endblock %}