{% extends "Layouts/app.twig" %}

{% set title = 'MK Terminal' %}
{% set app = 'app app_page' %}

{% block body %}
  
  {% include "Сomponents/Common/Patterns/FullPattern.twig" %}
  {% include "Сomponents/Common/Header/Header.twig" %}
  {% include "Сomponents/Common/Navigations/NavbarMobile.twig" %}
  
  <div class="content">
    {% include "Сomponents/SecondPages/Partials/Breadcrumbs/Breadcrumbs.twig" %}
    <div class="container">
      <h1>Установка стеллажного оборудования под ключ</h1>
      
      <div class="content__services content__services_cat">
        {% include "Сomponents/SecondPages/ServicesBlockCat.twig" %}
      </div>
      <p>Установка, монтаж и проектирование систем металлических стеллажей является одной из основных специализаций
        компании «МК Терминал-Сервис». Мы осуществляем монтаж стеллажного оборудования с 2006 года.
        <br>
        Современные складские стеллажи из стали позволяют создать максимально удобное пространство для хранения,
        перемещения, погрузки и выгрузки любых изделий и товаров. Они могут иметь разные формы и габариты, отличаться
        деталями. Наша компания предоставляет возможность установить стеллажное оборудование под ключ для разных
        направлений складской деятельности.</p>
      
      <p>Огромное количество стеллажных конструкций, оставляет мало свободного места для передвижения погрузочной
        спецтехники.
        Учитывая это, устанавливают складские отбойники, чтобы спецтехника не столкнулась с воротами, колоннами либо
        стеной.
        Такие специальные элементы необходимы в определенных местах и надежно защищают складскую технику от повреждений, а
        стеллажи с грузами − от опрокидываний.</p>
      
      <h6 class="subtitle-default subtitle-default_op_6 mt-3">Области применения складских отбойников:</h6>
      
      <p>Данные конструкции используют не только в складских помещениях. Отбойники очень востребованы:</p>
      
      <ul class="default-list default-list_op_6">
        <li>на промышленных предприятиях, чтобы обозначить зоны передвижения рабочего персонала;</li>
        <li>на тротуарах, парковке (как ограничители для проезда авто).</li>
      </ul>
      <br>
      
      <p>Наша компания предлагает различные отбойники для склада и производственных помещений.</p>
      
      <br><br>
  
      <h5 class="title-default mb-5">Виды отбойников для складского помещения</h5>
      
      <div class="otb-card mb-5">
        <div class="row">
          <div class="col-xl-8">
            <div class="otb-card__title text-primary">1. Прочные отбойники из металла (стали).</div>
            <div class="otb-card__text">Это наиболее востребованный вид защитных элементов для стеллажей. Они представляют собой изогнутый «щиток» желто-черного цвета, который традиционно устанавливается рядом со стеллажной стойкой. Монтаж такого отбойника производится одновременно со всей стеллажной конструкцией, и крепиться анкерами к полу. Применяется такой элемент защиты в складских помещения с любым температурным режимом. По желанию клиента, устанавливают от одного до нескольких уровней защиты. Единственный минус такого отбойника − демонтаж может осуществить только специалист.</div>
          </div>
          <div class="col-xl-4 text-center mt-4 mt-xxl-0">
            <img src="/resources/static/images/otb-card_1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
  
      <div class="otb-card mb-5">
        <div class="row">
          <div class="col-xl-8">
            <div class="otb-card__title text-primary">2. Пластиковые отбойники (из полиэтилена высокого и низкого давления).</div>
            <div class="otb-card__text">Широко используются для защиты промежуточных стоек (способны выдержать удар до 5 тонн). Отличаются высокой амортизирующей способностью, благодаря чем данные отбойники быстро приобретают первоначальную форму. Покрашены обычно яркой, желтой краской. Крепятся быстро, разными способами: специальным скотчем, ремнями на липучках либо карабинах. Не используют пластиковые защитные отбойники для склада в котором возможны резкие и значительные перепады температур.</div>
          </div>
          <div class="col-xl-4 text-center mt-4 mt-xxl-0">
            <img src="/resources/static/images/otb-card_1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
  
      <div class="otb-card mb-5 mb-xxl-0">
        <div class="row">
          <div class="col-xl-8">
            <div class="otb-card__title text-primary">3. Резиновые отбойники.</div>
            <div class="otb-card__text">Главное предназначение данных отбойников − защита углов стен и колонн. Изготавливают их из резины высокого качества. Отличаются высокой прочностью и износостойкостью. Различаются данные элементы защиты не только по типу использованного материала, но и по размеру. Складские отбойники отличаются высотой, которая в случае столкновения с автопогрузчиком, гарантирует, что удар придется зону бампера.Иногда отбойники для склада оклеивают светоотражающей лентой (удобны в темном складе).</div>
          </div>
          <div class="col-xl-4 text-center mt-4 mt-xxl-0">
            <img src="/resources/static/images/otb-card_1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      
    </div>
  
    <br><br>
    
    <div class="text-center text-uppercase text-active">Наша компания предлагает различные отбойники для склада.</div>
  
  </div>
  
  {% include "Сomponents/SecondPages/Partials/Plan/Plan.twig" %}
  
  {% include "Сomponents/SecondPages/SimpleAdvantages.twig" %}
  
  {% include "Сomponents/SecondPages/TextSection.twig" %}
  
  {% include "Сomponents/SecondPages/NecessaryServices.twig" %}
  
  {% include "Сomponents/SecondPages/BlareAdvantages.twig" %}
  
  
  
  
  
  <div class="form-static-standard form-static-standard_theme_blue">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 pl-4">
          <div class="form-static-standard__group">
            <div class="form-static-standard__title">Оставьте заявку и наш менеджер свяжется с вами</div>
            {% include "Сomponents/Common/Forms/FormDefault.twig" with
              {
                'inputs': '
                        <div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Имя"></div>
                        <div class="form-group form-default__group"><input type="text" class="form-control form-default__input" placeholder="Телефон"></div>',
              } %}
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="form-static-standard__map map">
            <div class="map__yamap" id="map">
              {% include "Сomponents/Common/Preloader/PreloaderMini.twig" %}
            </div>
          </div>
        </div>
      </div>
    
    </div>
  
  
  </div>
  
  {% include "Сomponents/Common/Footer/Footer.twig" %}
  {% include "Сomponents/Common/Modals/Modals.twig" %}
{% endblock %}