<div class="plan plan_sm_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="plan__item plan-card">
          <div class="plan__item plan-card__number">1</div>
          <div class="plan__item plan-card__text">Предыдущее месторасположение склада − демонтаж стеллажей и иного оборудования;</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="plan__item plan-card">
          <div class="plan__item plan-card__number">2</div>
          <div class="plan__item plan-card__text">Общее количество стеллажных систем, их вид и конструкция: учитывайте число ярусов и линий, полок, опор для паллет, и материала, из которого они изготовлены;</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="plan__item plan-card">
          <div class="plan__item plan-card__number">3</div>
          <div class="plan__item plan-card__text">Расположение нового складского помещения и схема монтажа стеллажных конструкций в нем;</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="plan__item plan-card">
          <div class="plan__item plan-card__number">4</div>
          <div class="plan__item plan-card__text">Вероятность закрепить стеллажи с помощью анкерных болтов, состояние пола в помещении;</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="plan__item plan-card">
          <div class="plan__item plan-card__number">5</div>
          <div class="plan__item plan-card__text">Возможность осуществления работ по переезду в выходные либо нерабочее время.</div>
        </div>
      </div>
    </div>

  </div>
</div>